input {
jdbc {
    jdbc_driver_library => "mysql-connector-java-8.0.18.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://{{database_address}}/{{database_name}}?tinyInt1isBit=false"
    jdbc_user => "{{db_user}}"
    jdbc_password => "{{db_pass}}"
    type => "game_record"
    lowercase_column_names => true
    plugin_timezone => "local"
    use_column_value => true
    tracking_column => "id"
    tracking_column_type => "numeric"
    last_run_metadata_path => "/etc/logstash/conf.d/{{platform}}/.last_run_jdbc"
    schedule => "* * * * *"
    statement => "SELECT * from  t_game_record   WHERE id > :sql_last_value"
  }
}

filter {
if [type] == "game_record" {
 mutate {
        convert => {
          "member_type" => "integer"
          "game_type" => "integer"
          "terminal" => "integer"
          "existrobot" => "integer"
        }
      }

  ruby {
        code => "
       require 'date'
       t = Time.at(event.get('end_time')).to_date.to_s
       event.set('[@metadata][eday]', t )

"
  }

 date {
   match => ['end_time', 'UNIX'   ]
}
}
}

output {
if [type] == "game_record" {
elasticsearch {
    hosts => "http://{{es_address}}"
    index => "gamerecord-{{platform}}-%{[@metadata][eday]}"
    document_id => "%{bet_id}"
    user => "jdbc_logstash"
    password => "logstash"
  }
 }
}
