input {
jdbc {
      jdbc_driver_library => "mysql-connector-java-8.0.18.jar"
      jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
      jdbc_connection_string => "jdbc:mysql://{{database_address}}/{{database_name}}?tinyInt1isBit=false"
      jdbc_user => "{{db_user}}"
      jdbc_password => "{{db_pass}}"
      type => "balance"
      lowercase_column_names => true
      plugin_timezone => "local"
      use_column_value => true
      tracking_column => "update_time"
      tracking_column_type => "numeric"
      last_run_metadata_path => "/etc/logstash/conf.d/{{platform}}/.balance_jdbc"
      schedule => "* * * * *"
      statement => "SELECT * from  t_member_balance   WHERE update_time >= :sql_last_value"
    }
}

filter {
if [type] == "balance" {
mutate {
        convert => {
          "current_state" => "integer"
        }
      }

}
}

output {
if [type] == "balance" {
elasticsearch {
    hosts => "http://{{es_address}}"
    index => "balance-{{platform}}"
    document_id => "%{member_id}"
    user => "jdbc_logstash"
    password => "logstash"
  }
 }
}
