input {
jdbc {
    jdbc_driver_library => "mysql-connector-java-8.0.18.jar"
    jdbc_driver_class => "com.mysql.cj.jdbc.Driver"
    jdbc_connection_string => "jdbc:mysql://{{database_address}}/{{database_name}}?tinyInt1isBit=false"
    jdbc_user => "{{db_user}}"
    jdbc_password => "{{db_pass}}"
    type => "balance_change"
    lowercase_column_names => true
    plugin_timezone => "local"
    use_column_value => true
    tracking_column => "trade_id"
    tracking_column_type => "numeric"
    last_run_metadata_path => "/etc/logstash/conf.d/{{platform}}/.balance_last_run_jdbc"
    schedule => "* * * * *"
    statement => "SELECT * from  t_member_balance_change   WHERE trade_id > :sql_last_value"
  }
}

filter {
if [type] == "balance_change" {
mutate {
        convert => {
          "trade_type" => "integer"
        }
      }

  ruby {
        code => "
       require 'date'
       t = Time.at(event.get('create_time')).to_date.to_s
       event.set('[@metadata][eday]', t )

"
  }

 date {
   match => ['create_time', 'UNIX'   ]
}
}
}

output {
if [type] == "balance_change" {
elasticsearch {
    hosts => "http://{{es_address}}"
    index => "paylist-{{platform}}-%{[@metadata][eday]}"
    document_id => "%{trade_id}"
    user => "jdbc_logstash"
    password => "logstash"
  }
}
}
