{
  "Service": {
    "ID": "mysqlwrite{{inventory_hostname }}",
    "Name": "mysqlwrite",
    "Tags": [
    "master"
  ],
  "Address": "{{ '{{' }} key "mysql/master/{{orch_db_cluster}}/ipv4" {{ '}}'}}",
  "Port": {{mysqlport}}
  }
}
